*{margin:0; padding: 0;}
html{height: 100%;width: 100%;}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.whitespace{
	height: 120px;
	width: inherit;
}

.container{
	width: 100%;
	background-color: #fff;
	/*margin-top: 120px;*/
}

.header{
	height: 120px;
	width: inherit;
	/*position: fixed;*/
	top: 0;
	left: 0;
	background-color: #fff;
}

.nav{
	width: 1024px;
	height: inherit;
	margin: 0 auto;
}

.logo{
	height: 100%;
	width: 80px;
	display: inline-block;
	float: left;
}
.logo img{
	height: 80px;
	width: 80px;
	margin-top: 20px;
}

.navigation{
	display: inline-block;
	margin-right: 30px;
	margin-top: 50px;
	float: right;
}
.navigation ul{
	list-style: none;
	display: block;
}
.navigation ul li{
	display: inline-block;
	margin-right: 30px;
}
.navigation ul li a{
	color: #505050;
	text-decoration: none;
	font-size: 1.3em;
	transition:0.5s;
}
.navigation ul li a:hover{
	color:#cb0914;
	transition:0.5s;
}

.smallnav{
	position: fixed;
	height: 80px !important;
}
.smallnav img{
	margin-top: 0px;
}
.smallnav .navigation{margin-top: 25px;}

.maincontent{
	width: 100%;
}

.mtop{
	height: 600px;
	width: inherit;
	background: url('main.jpg') 65% 65%;
	background-size: cover;
	text-align: center;
}
.mtop h1{
	font-size: 3em;
	font-weight: 100;
	color: #fff;
	background-color: rgba(0,0,0,0.4);
	width: relative;
	display: inline-block;
	width: auto;
	margin-top: 5%;
	text-transform: uppercase;
}

#dark{
	background: url('main2.jpg') 50% 50%;
	background-size: cover;
}

.bgblack{
	height: inherit;
	width: inherit;
	background-color: #1c1c1c;
	opacity: 0.3;
}

.mmiddle{
	width: inherit;
	background-color: #f6f3f3;
	color: #000;
	height: 400px;
}
.mmiddle h1{
	text-align: center;
	font-size: 3em;
	font-weight: 100;
	padding-top: 40px;
	text-transform: uppercase;
}
.mmiddle p{
	width: 800px;
	margin: 20px auto;
	font-size: 2em;
	font-weight: 200;
}

.footer{
	height: 240px;
	width: inherit;
	background-color: #252525;
}

.fcontent{
	width: 1024px;
	margin:0 auto;
	height: 100%;
}

.finfo{
	padding-top: 20px;
	display: inline-block;
	width: 50%;
	float: left;
}

.fcontact{
	padding-top: 20px;
	display: inline-block;
	width: 50%;
	float: right;
}

.finfo ul,.fcontact ul{
	list-style: none;
	color:#fff;
}

.finfo ul li:first-child{
	font-size: 3em;
	font-weight: 200;
	margin-bottom: 20px;
}
.finfo ul li,.fcontact ul li{
	font-weight: 100;
	font-size: 1.8em;
}
.fcontact ul li:nth-child(3){
	margin-top: 20px;
}

.fcontact ul li a{
	font-size: 3em;
	font-weight: 200;
	margin-bottom: 20px;
	color: #fff;
	text-decoration: none;
}

.tt{
	position: fixed;
	display: block;
	right: 100px;
	bottom: 50px;
	font-size: 2em;
	font-weight: 100;
}
.tt a{
	color: #888888;
	text-decoration: none;
}

.anim{
	-moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.3s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.3s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-160px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-160px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-160px);
    }
    100% {
        transform: translateY(0);
    }
}

