*{margin:0; padding: 0; outline: none;}
html,body{height: 100%;min-width: 100%;}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.whitespace{
	height: 0px;
	width: inherit;
	display: none;
}

.wheader{
	height: 80px;
	text-align: center;
}

.wheader h1{
	text-align: center;
	font-size: 3em;
	font-weight: 100;
	padding-top: 20px;
	cursor: pointer;
}

.wheader h1, .arrow{
	display: inline-block;
}

.arrow{
	height: 25px;
	width: 25px; 
	margin-left: 10px;
	background: url('../images/arrowup.png');
	background-size: 25px 25px;
	opacity: 0.5;
	transition: 0.2s;
	z-index: 8888;
}
.arrowdown{
	/*background: url('../images/arrowdown.png');
	background-size: 25px 25px;*/
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	transition: 0.2s;
}

.container{
	width: 100%;
	/*background-color: #fff;*/
	/*margin-top: 120px;*/
}

.header{
	height: 120px;
	width: inherit;
	/*position: fixed;*/
	top: 0;
	left: 0;
	background-color: #fff;
}

.nav{
	width: 1024px;
	height: inherit;
	margin: 0 auto;
}

.logo{
	height: 100%;
	width: 80px;
	display: inline-block;
	float: left;
}
.logo img{
	height: 80px;
	width: 80px;
	margin-top: 20px;
}

.navigation{
	display: inline-block;
	margin-top: 50px;
	float: right;
}
.navigation ul{
	list-style: none;
	display: block;
}
.navigation ul li{
	display: inline-block;
	margin-right: 30px;
}
.navigation ul li a{
	color: #505050;
	text-decoration: none;
	font-size: 1.3em;
	transition:0.5s;
}
.navigation ul li a:hover{
	color:#cb0914;
	transition:0.5s;
}

.active{
	color: #cb0914 !important;
}

.smallnav{
	position: fixed;
	height: 80px !important;
	z-index: 9999;
}
.smallnav img{
	margin-top: 0px;
}
.smallnav .navigation{margin-top: 25px;}

.maincontent{
	width: 100%;
}

.mtop{
	height: 600px;
	width: inherit;
	min-width: 100%;
	background: url('../images/main4.jpg') 0% 25%;
	background-size: cover;
	text-align: center;
}
#altbg1{
	background: url('../images/main5.jpg') 50% 20%;
	background-size: cover;
}
#altbg2{
	background: url('../images/main2.jpg') 50% 50%;
	background-size: cover;
}
#altbg3{
	background: url('../images/main3.jpg') 50% 50%;
	background-size: cover;
}
#altbg4{
	background: url('../images/main7.jpg') 50% 20%;
	background-size: cover;
}
#altbg5{
	background: url('../images/main1.jpg') 50% 40%;
	background-size: cover;
}
#altbg6{
	background: url('../images/main12.jpg') 50% 40%;
	background-size: cover;
}
#altbg7{
	background: url('../images/main9.jpg') 50% 20%;
	background-size: cover;
}
#altbg8{
	background: url('../images/main10.jpg') 50% 20%;
	background-size: cover;
}
#altbg9{
	background: url('http://www3.vegag.is/faerd/island1e.gif');
	background-size: cover;
}
#altbg10{
	background: url('../images/main13.jpg') 50% 50%;
	background-size: cover;
}
#haltbg1{
	background: url('../images/main5.jpg') 50% 45%;
	background-size: cover;
}
#haltbg2{
	background: url('../images/main7.jpg') 20% 35%;
	background-size: cover;
}
#haltbg3{
	background: url('../images/main3.jpg') 50% 50%;
	background-size: cover;
}
#haltbg4{
	background: url('../images/main4.jpg') 50% 50%;
	background-size: cover;
}
#haltbg5{
	background: url('../images/main11.jpg') 25% 27%;
	background-size: cover;
}
#haltbg6{
	background: url('../images/main10.jpg') 25% 25%;
	background-size: cover;
}
#haltbg6{
	background: url('../images/main12.jpg') 25% 30%;
	background-size: cover;
}
#haltbg7{
	background: url('../images/main14.jpg') 25% 40%;
	background-size: cover;
}

.halfmtop{
	height: 300px;
}

.mtop h1{
	font-size: 3em;
	font-weight: 100;
	color: #fff;
	background-color: rgba(0,0,0,0.4);
	width: relative;
	display: inline-block;
	width: auto;
	margin-top: 5%;
	text-transform: uppercase;
	padding:0px 10px;
}

.nobg{
	background:none !important;
	color: #000 !important;
}

.light{
	background-color: #fff;
	background: none;
}

.centerimage img{
	display: block;
	margin: 0 auto;
}

.bgblack{
	height: inherit;
	width: inherit;
	background-color: #1c1c1c;
	opacity: 0.3;
}

.expand{
	height: auto !important;
}

.termslist{
	width: 1004px;
	margin:0 auto;
}
.termslist ul{
	list-style: none;
	margin-top: 20px;
	padding: 10px 20px;
}
.termslist h1{
	margin-top: 0px;
	background-color: transparent;
	margin-bottom: 10px;
	color: #000;
	cursor: pointer;
}
.termslist h1:hover,.wheader h1:hover{
	color:#cb0914;
}
.termslist ul li:nth-child(2){
	font-size: 1.5em;
	font-weight: 100;
	color:#000;
	line-height: 30px;
	text-align:center;

}
.termslist ul li:nth-child(2):hover{

}

.furtherinfo{
	font-size: 1.2em;
	font-weight: 100;
	color: #000;
}

.tables{
	width: 1024px;
	height: inherit;
	margin:0 auto;
	padding-top: 40px;
}

.tables h1{
	background-color: transparent;
	color: #000;
	margin-bottom: 20px;
}

#table1{
	width: 50%;
	float: left;
}
#table2{
	width: 50%;
	float: right;
}

.tables table{
	font-size: 2em;
	font-weight: 100;
	margin-left: auto;
	margin-right: auto;
}

.tables table tr td{padding-bottom: 10px;}

.tables table tr th{font-size: 1.2em;font-weight: 100;}

.quotes{
	margin: 0 auto;
	width: 800px;
	padding-top: 80px;

}

.quotes a{
	text-decoration: none;
}

.mtop blockquote{
	font-size: 2em;
	font-weight: 100;
	color: #fff;
	padding: 20px 20px;
	background-color: rgba(0,0,0,0.4);
	margin-bottom: 20px;
}
.mtop blockquote:hover{
	background-color: rgba(0,0,0,0.6);
}

.bggray{
	background-color: #f6f3f3;
	background: none;
}

.mmiddle{
	width: inherit;
	background-color: #f6f3f3;
	color: #000;
	height: 440px;
}
.mmiddle h1{
	text-align: center;
	font-size: 3em;
	font-weight: 100;
	padding-top: 60px;
	text-transform: uppercase;
}
.mmiddle p{
	width: 800px;
	margin: 20px auto;
	font-size: 2em;
	font-weight: 200;
}

.photos{
	display: none;
	
}

.arrowup{
	display: block;
	height: 50px;
	width: 50px;
}

.slideshow{
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	border-right: 4px;
}

.slideshow ul{
	position: relative;
	margin: 0;
	padding:0;
	width: 860px;
	height: 573px;
	list-style: none;
}

.slideshow ul li{
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 860px;
	height: 573px;
}

.slideshow ul li img{
	height: 573px;
	width: 860px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.footer{
	height: 240px;
	width: inherit;
	background-color: #252525;
}

.fcontent{
	width: 1024px;
	margin:0 auto;
	height: 100%;
}

.finfo{
	padding-top: 50px;
	display: inline-block;
	width: 50%;
	float: left;
}

.fcontact{
	padding-top: 50px;
	display: inline-block;
	width: 50%;
	float: right;
}

.finfo ul,.fcontact ul{
	list-style: none;
	color:#fff;
}

.finfo ul li:first-child{
	font-size: 2.5em;
	font-weight: 200;
	margin-bottom: 20px;
}
.finfo ul li,.fcontact ul li{
	font-weight: 100;
	font-size: 1.4em;
}
.fcontact ul li:nth-child(3){
	margin-top: 20px;
}

.fcontact ul li a{
	font-size: 2.3em;
	font-weight: 200;
	margin-bottom: 20px;
	color: #fff;
	text-decoration: none;
}

.tt{
	position: fixed;
	display: block;
	right: 100px;
	bottom: 50px;
	font-size: 2em;
	font-weight: 100;
}
.tt a{
	color: #888888;
	text-decoration: none;
}
.tt a:hover{
	color: #b8b8b8;
}

.anim{
	-moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.3s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.3s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-160px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-160px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-160px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 1190px){
	.header{
		min-width: 100%;
	}

	.nav{
		min-width: 100%;
	}
}

